.kaufman__triangle {
    position: absolute;
    align-self: flex-end;
    height:  877px;
    width: 877px;
    top:0;
    right: -210px;
    background-image: url(../../../images/kaufman-triangle.svg);
    z-index: 1;
    background-size: 100%;
    animation: rotation 20s linear infinite;
  }