section {
  border: 1px solid red;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

  border: 1px solid red;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  border: 1px solid red;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  border: 1px solid red;
}

.logo__place_header {
  position: absolute;
  margin-top: 32px;
  margin-left: 64px;
  height: 32px;
  width: 183px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  display: flex;
  align-self: center;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  width: 730px;
  color: #000000;
  border: 1px solid red;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
  bottom:  32px;
  color: #000000;
  border: 1px solid red;
  left: 64px;
  z-index: 2;
}

.main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  background-image: url(../images/header-image.png);
  background-size: 100%;
  bottom: 0px;
  right: 0px;
  border: 1px solid red;
  z-index: 1;
}

.square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color:  #2f80ed;
  top: 64px;
  right: 0px;
  border: 1px solid red;
  z-index: 0;
}

.content {
  background-color: #ffffff;  
  border: 1px solid red;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin-top:100px;
  width: 80%;  
  border: 1px solid red;
}

.brief {
  width: 175px;
  font-size: 24px;
  line-height: 1.2; 
  font-weight: normal;
  color: #2f80ed;
  border: 1px solid red;
}

.brief__text {
  margin:0;
}

.main-text {
  width: 80%;
  min-width: 784px;
  border: 1px solid red;
}

.paragraph {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid blue;
}

.paragraph__text {
  margin:0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  border: 1px solid red;
}

.span-accent {
  margin-top:30px;
  margin-bottom:30px;
  font-size: 24px;
  line-height: 34px; 
  font-weight: normal; 
  border: 1px solid red; 
}

.span {
  margin-right: 10px;
  font-size: 24px;
  line-height: 34px; 
  font-weight: bold; 
}
.digits {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;  
  border: 1px solid rgb(200, 255, 0);
}
.section-title {
  width: 60%;
  margin-bottom: 20px;
  border: 1px solid red;
}

.section-title__text {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  border: 1px solid red;
}

.section-subtitle {
  width: 60%;
  border: 1px solid red;
}

.section-subtitle__text {
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid red;
}

.table {
  width: 1100px;
  border: 1px solid rgb(0, 255, 34);
  z-index: 1;
}

.table__tr {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; 
  border: 1px solid red;
}
.table__td {
  width: 250px;
}

.cell { 
  display: flex;
  flex-flow: column;
  border: 1px solid red;
}

.heading {
  margin: 0;
  border: 1px solid red;
}

.heading_text {
  margin: 0;
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid red;
}

.text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid red;
}

.feynman {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 100px;
  height: 790px;
  background: url(../images/feynman.png) left bottom no-repeat;
  border: 1px solid rgb(200, 255, 0);
}

.feynman__title {
  display: flex;
  width: 648px;
  border: 1px solid red;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000000;
  border: 1px solid red;
}

.feynman__subtitle {
  margin-top: 70px;
  z-index: 2;
}

.feynman__subtitle__text {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #000000;
  border: 1px solid red;
}

.kaufman {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f; 
  border: 1px solid yellow;
}

.triangle {
  position: absolute;
  align-self: flex-end;
  height:  877px;
  width: 877px;
  margin-top: -90px;
  margin-right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  border: 1px solid red;
  z-index: 0;
}

.kaufman__table__tr {
  display: flex;
  justify-content: space-between;
  margin-top: 80px; 
  border: 1px solid red;
}

.kaufman__table__td {
  width: 200px;
}


.section-title__text_theme_dark {
color: #ffffff;
}

.section-subtitle__text_theme_dark {
color: #ffffff;
}

.heading_text_theme_dark {
color: #ffffff;
}

.text_theme_dark {
color: #ffffff;
}



.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  height: 350px;
  width: 100%;
  background-color: #1f1f1f;
  border: 1px solid red; 
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  width: 90%;
  border: 1px solid red;
}

.logo__place_footer {
  display: flex;
  height: 35px;
  width: 183px;
  background-image: url(../images/logo_place_footer.svg);
}

.column__content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid red;
}

.author {
  display: flex;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  border: 1px solid red;
}

.column__content_info {
  border: 1px solid red; 
}

.column__column-heading {
  display: flex;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid red; 
}
.column__column-links {
  display: flex;
  flex-flow: column;
  border: 1px solid red;  
}
.column-links__column-link {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  border: 1px solid red;
}

.column__content_social {
  display: flex;
  flex-flow: column;
  border: 1px solid red; 
}

.column__column-link {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  border: 1px solid red;
}

.column-link__social-icon {
  align-self: center;
  height: 16px;
  width: 16px;
  border: 1px solid red; 
}

.column-link__social-icon_img_vk {
  background-image: url(../images/vk_color_white.svg);
}

.column-link__social-icon_img_fb {
  background-image: url(../images/facebook_color_white.svg);
}

.column-link__social-icon_img_ig {
  background-image: url(../images/instagram_color_white.svg);
}

.column__column-link_img_vk::after {
  margin-left: 10px;
  content: 'Вконтакте'
}

.column__column-link_img_fb::after {
  margin-left: 10px;
  content: 'Facebook'
}

.column__column-link_img_ig::after {
  margin-left: 10px;
  content: 'Instagram'
}
